@font-face {
  font-family: Avenir; /* Имя шрифта */
  src: url(fonts/avenir.otf); /* Путь к файлу со шрифтом */
}


#logo_main{
  max-height: 60px;
}

.navbar-brand{
  padding-top: 0;
}

.nav.navbar-nav {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  float: right;
  padding-right: 0px;
  background: none;
  text-decoration-color: rgb(253, 255, 107);
}

.navbar-collapse{
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  border: none;
}

@media (max-width: 767px){
.nav.navbar-nav{  
  float: none;}
}

@media (max-width: 767px){
  .owl-dots{
    display: none;
  }
  }
  


hr{
  margin: 0;
  border: 0;
  border-top: 2px solid rgb(54, 54, 54);
}

.HotelInfo{
  background-color: #222;
  color: rgb(255, 230, 0);
  position: relative;
}

hr.name_cou_div{
  border-top: 2px solid rgb(253, 255, 107);
}

#nav_links{
  font-family: 'Avenir';
  font-size: 18px;
}

.HotTitle{  
  font-size: 48px;
  position: relative;
}

.Comments{
  background-color: #222;
  color: rgb(255, 230, 0);
  position: absolute;
  min-height: 50vh;
}

@media (max-width: 767px){
  .HotTitle{
    font-size: 24px;
  
  }  
}

.PgShrtInf{
  padding-left: 10px;
}

.HotelPageImage{
  margin-bottom: 10px;
  width: 100%;
}

.HotelPageInfo{
  padding: 0 10px 0;
  
}

.PageTitleInfo{
  font-size: 24px;
}

.owl-dots{
  background-color: rgba(255, 255, 255, 0.418);
  padding: 2px;
  position: absolute;
  border-radius: 10em;
  top: 92%;
  left: 45%;
  text-align: center;
}

.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: rgba(44, 44, 44, 0.7);
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;  /*for making them horizontal, if you want vertical then you can use- display: block*/
}

.owl-dot.active{  
  background: rgba(255, 230, 0, 0.7)  
}

.sl_container{
  
  z-index: 5;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: relative;
}

#navPrev, #navNext{
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 40%;
}

#navPrev{
  background-color: rgba(255, 251, 0, 0.5);
  left: 10px;
  padding: 15 28px;
  border-radius: 10em;
}

#navNext{
  background-color: rgba(255, 251, 0, 0.5);
  right: 30px;
  padding: 15 28px;
  border-radius: 10em;
}

.filterBar{
  position: relative;
  z-index: 4;
  background-color: rgb(54, 54, 54);
  color: #f1da36;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  height: 100vh;
  min-height: 670px;
}

.HotPrev{
  position: relative;
  overflow: auto;
  z-index: 3;  
  height: max-content;
  max-height: 100vh;
}

hr.SlideChooseDivid{
  margin: 0;
  border: 0;
  border-top: 5px linear-gradient(to bottom, #f1da36 0%,#fefcea 100%);
}

.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
-webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-ms-transform: translate3d(0,0,0);
}

img.hotimg{
  position: absolute;
  left: 5%;
  max-width: 90%;
  max-height: 20vh;
}

img.hotimg2{
  position: absolute;
  left: 5%;
  max-width: 90%;
  max-height: 120px;
}

#singleHot{
  border: 2px solid rgb(54, 54, 54);
  height: max-content;
  
}

#singleHot2{
  border: 2px solid rgb(54, 54, 54);
  height: max-content;
}

.scrollbox::-webkit-scrollbar {width:0px;}
.scrollbox{ -ms-overflow-style: none; }
.scrollbox{ overflow: -moz-scrollbars-none; }

.fullinfo{
  right: 5px;
}

#description{
  font-size: 15px;
  color: rgb(253, 255, 107);
  background-color: rgb(54, 54, 54);
  overflow: auto;
  min-height: max-content;
  height: 112px;
  border: 2px solid rgb(54, 54, 54);
  border-radius: 5px; right: 10px;
}

#description::-webkit-scrollbar {width:0px;}
#description{ -ms-overflow-style: none; }
#description{ overflow: -moz-scrollbars-none; }

#sl_tp{
  position: fixed;
  top:0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #f60;
  width:100%;
  height:40px;
  box-shadow:0 0 5px #777;
  text-align:center;
  color:#fff;
  }
   
  #sl_in {
  position: fixed;
  min-height:200px;
  top:-200px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #313131;
  width:100%;
  padding:10px;
  box-sizing:padding-box;
  }
  #sl_tp:checked {
  top: 200px;
  }
  #sl_tp:checked #sl_in {
  top:0;
  }

  .dropdown .dropdown-menu{
   
  opacity: 0;
  height: 0px;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 500ms ease-in;
}
.dropdown:hover .dropdown-menu{
  
  opacity: 1;
  height: max-content;
}

